.App{
  display: flex;
    flex-direction: column;
    background-color: #C3B8B1;
    height: 100vh;
}
.nav-bar{
  background-color: #EAE6E4;
  height: 5rem;
}
.content{
  flex:1;
  padding: 0 2rem;
}
