.App{
  display: flex;
    flex-direction: column;
    background-color: #C3B8B1;
    height: 100vh;
    
}
.nav-bar{
  background-color: #EAE6E4;
  height: 3rem;
}


.white {
  color: white;
  border: 1px solid white;
  background-color: #C3B8B1;
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 5px;
}

.right-buttons {
  display: flex;
  align-items: center;
}
