.Chat {
  width: 100vw;
  height: 100vh;
  background: #fff;
  color: #212121;
  font-family: "Open Sans", sans-serif;
  display: grid;
  place-items: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(
      rgba(195, 184, 177, 0.6),
      rgba(195, 184, 177, 0.6)
    ),
    url("../../assets/images/backroundImg.jpeg");
  background-size: contain;
  background-position: right top;
  z-index: 0;
  background-repeat: no-repeat;
  height: 100vh; /* Set height to 100vh */
  overflow-y: auto; /* Allow vertical scrolling */
}

.glass-container-chat {
  position: relative;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  z-index: 1;
  text-align: center;
}

body {
  margin: 0%;
  padding: 0%;
}
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");

.joinChatContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.joinChatContainer h3 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #75665d;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.joinChatContainer input {
  width: 70%;
  align-self: center;
  padding: 10px;
  margin: 10px 0;
  border-radius: 15px;
  background-color: #ffffff;
  border: 1px solid #755d5d;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.joinChatContainer button {
  width: 400px;
  height: 300px;
  margin: 7px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  background: #75665d;
  color: #fff;
  cursor: pointer;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.joinChatContainer button:hover {
  background: #998c82;
}

.chat-window {
  width: 350px;
  height: 420px;
}

.chat-window p {
  margin: 0;
}
.chat-window .chat-header {
  height: 45px;
  border-radius: 6px;
  background: #75665d;
  position: relative;
  cursor: pointer;
}
.chat-window .chat-header p {
  display: block;
  padding: 0 1em 0 1em;
  color: #ffffff;
  font-weight: 800;
  line-height: 45px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.chat-window .chat-body {
  height: calc(450px - (45px + 70px));
  border: none;
  background: #c3b8b1;
  position: relative;
  border-radius: 6px;
}

.chat-window .chat-body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  color: #75665d;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.chat-window .chat-body .message-container::-webkit-scrollbar {
  display:none;
}

.chat-window .chat-body .message {
  height: auto;
  padding: 10px;
  display: flex;
}

.chat-window .chat-body .message .message-content {
  width: auto;
  height: auto;
  min-height: 40px;
  max-width: 120px;
  background-color: #ffffff;
  border-radius: 5px;
  color: #75665d;
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
  overflow-wrap: break-word;
  word-break: break-word;
}

#you {
  justify-content: flex-start;
}

#you .message-content {
  justify-content: flex-start;
}

#you .message-meta {
  justify-content: flex-start;
  margin-left: 5px;
}

#other {
  justify-content: flex-end;
}

#other .message-content {
  justify-content: flex-end;
  background-color: #eae6e4;
}

#other .message-meta {
  justify-content: flex-end;
  margin-right: 5px;
}

.message-meta #author {
  margin-left: 10px;
  font-weight: bold;
}

.chat-window .chat-body .message .message-meta {
  display: flex;
  font-size: 12px;
}

.chat-window .chat-footer {
  height: 50px;
  border: none;
  border-top: none;
  display: flex;
}

.chat-window .chat-footer input {
  height: 100%;
  flex: 200%;
  border: 0;
  padding: 0 0.7em;
  font-size: 1em;
  border-right: none;
  outline: none;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.chat-window .chat-footer button {
  border: 0;
  display: grid;
  place-items: center;
  cursor: pointer;
  flex: 10%;
  height: 100%;
  background: transparent;
  outline: none;
  font-size: 25px;
  color: #75665d;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.chat-window .chat-footer button:hover {
  color: #998c82;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.hide {
  opacity: 0 !important;
}

#root > div > div.Chat > div > h3 {
  color: #75665d;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#root > div > div.Chat > div > div > div.chat-body > div > button {
  background-color: #75665d;
}

.btn-join-chat{
  height: 45px !important;
  width: 110px !important;
  align-self: center;
  border-radius: 15px !important;
}