/* UploadPostPage.css */

.upload-post-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(rgba(195, 184, 177, 0.6), rgba(195, 184, 177, 0.6)), url('../../assets/images/backroundImg.jpeg');
    background-size: contain;
    background-position: right top;
    z-index: 0;
    background-repeat: no-repeat;
    height: 100vh; /* Set height to 100vh */
    overflow-y: auto; /* Allow vertical scrolling */
}

.postImage {
    width: 50%;
    height: 50%;
}

.upload-form {
    display: flex;
    flex-direction: column;
    max-width: 330px;
    background: rgba(255, 255, 255, 0.3);
    padding: 15px;
    padding-bottom: inherit;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 1rem;
    border-radius: 15px;
    margin-top: 10rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    z-index: 1; /* Ensure the glass container is on top */
  }
  
  .upload-form {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    width: 250px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .uploadAPost-btn {
    padding: 10px;
    background-color: #C3B8B1;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .uploadAPost-btn :hover {
    background-color: #8f7777;
  }

  .uploadTitle {
    color: #8f7777;
  }