.edit-page{
    position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(rgba(195, 184, 177, 0.6), rgba(195, 184, 177, 0.6)), url('../../assets/images/backroundImg.jpeg');
  background-size: contain;
  background-position: right top;
  z-index: 0;
  background-repeat: no-repeat;
  height: 100vh; /* Set height to 100vh */
  overflow-y: auto; /* Allow vertical scrolling */
}

.glass-container-edit {
    display: flex;
    flex-direction: column;
    max-width: 330px;
    background: rgba(255, 255, 255, 0.3);
    padding: 15px;
    padding-bottom: inherit;
    align-items: center;
    text-align: center;
    margin-top: 15rem;
    margin-bottom: 1rem;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    z-index: 1; /* Ensure the glass container is on top */
  }

  .edit-form{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .edit-form > span{
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
  }

  .selectImgBtn{
    color:  #777070;
    background-color: transparent;
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: 5px;
  }
  .submit-btn-edit-post{
    color: white;
    border: 1px solid white;
    background-color: #C3B8B1;
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 30px;
  }
  .postImg{
    max-width: 40%;
  }